In [2]:
%load_ext sql

In [1]:
%pip install ipython-sql

Collecting ipython-sql
  Downloading ipython_sql-0.4.0-py3-none-any.whl (19 kB)
Requirement already satisfied: ipython>=1.0 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from ipython-sql) (8.0.1)
Requirement already satisfied: ipython-genutils>=0.1.0 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: six in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from ipython-sql) (1.16.0)
Collecting sqlalchemy>=0.6.7
  Downloading SQLAlchemy-1.4.35-cp38-cp38-macosx_10_14_x86_64.whl (1.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.5/1.5 MB 2.0 MB/s eta 0:00:0000:0100:01
Collecting prettytable<1
  Downloading prettytable-0.7.2.zip (28 kB)
  Preparing metadata (setup.py) ... done
Collecting sqlparse
  Downloading sqlparse-0.4.2-py3-none-any.whl (42 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 42.3/42.3 KB 1.8 MB/s eta 0:00:00
Requirement already satisfied: pickleshare in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: traitlets>=5 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (3.0.28)
Requirement already satisfied: stack-data in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: pexpect>4.3 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (4.8.0)
Requirement already satisfied: black in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (22.1.0)
Requirement already satisfied: backcall in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: jedi>=0.16 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (0.18.1)
Requirement already satisfied: decorator in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: pygments in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (2.11.2)
Requirement already satisfied: matplotlib-inline in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (0.1.3)
Requirement already satisfied: appnope in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (0.1.2)
Requirement already satisfied: setuptools>=18.5 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (56.0.0)
Collecting greenlet!=0.4.17
  Downloading greenlet-1.1.2-cp38-cp38-macosx_10_14_x86_64.whl (92 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 92.8/92.8 KB 2.1 MB/s eta 0:00:00
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from pexpect>4.3->ipython>=1.0->ipython-sql) (0.7.0)
Requirement already satisfied: wcwidth in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: click>=8.0.0 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from black->ipython>=1.0->ipython-sql) (8.0.4)
Requirement already satisfied: tomli>=1.1.0 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from black->ipython>=1.0->ipython-sql) (2.0.1)
Requirement already satisfied: pathspec>=0.9.0 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from black->ipython>=1.0->ipython-sql) (0.9.0)
Requirement already satisfied: mypy-extensions>=0.4.3 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from black->ipython>=1.0->ipython-sql) (0.4.3)
Requirement already satisfied: platformdirs>=2 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from black->ipython>=1.0->ipython-sql) (2.5.1)
Requirement already satisfied: typing-extensions>=3.10.0.0 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from black->ipython>=1.0->ipython-sql) (4.1.1)
Requirement already satisfied: pure-eval in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.2.2)
Requirement already satisfied: executing in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.8.2)
Requirement already satisfied: asttokens in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from stack-data->ipython>=1.0->ipython-sql) (2.0.5)
Building wheels for collected packages: prettytable
  Building wheel for prettytable (setup.py) ... done
  Created wheel for prettytable: filename=prettytable-0.7.2-py3-none-any.whl size=13699 sha256=0fee9823f0f5266b99e7018fcc9cd1377c1fbbe0fe1f3d32cc0f73a5d50b74aa
  Stored in directory: /Users/huynhthanhviet/Library/Caches/pip/wheels/48/6d/77/9517cb933af254f51a446f1a5ec9c2be3e45f17384940bce68
Successfully built prettytable
Installing collected packages: prettytable, sqlparse, greenlet, sqlalchemy, ipython-sql
Successfully installed greenlet-1.1.2 ipython-sql-0.4.0 prettytable-0.7.2 sqlalchemy-1.4.35 sqlparse-0.4.2
WARNING: You are using pip version 22.0.3; however, version 22.0.4 is available.
You should consider upgrading via the '/usr/local/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [3]:
%sql postgresql://postgres:student@127.0.0.1/sparkifydb

In [4]:
%sql SELECT * FROM songplays where song_id != 'None';

 * postgresql://postgres:***@127.0.0.1/sparkifydb
1 rows affected.

[(5537, datetime.datetime(2018, 11, 21, 21, 56, 47, 796000), 15, 'paid', 'SOZCTXZ12AB0182364', 'AR5KOSW1187FB35FF4', 818, 'Chicago-Naperville-Elgin, IL-IN-WI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"')]

In [5]:
%sql SELECT * FROM users LIMIT 5;

 * postgresql://postgres:***@127.0.0.1/sparkifydb
5 rows affected.

[(94, 'Noah', 'Chavez', 'M', 'free'),
 (75, 'Joseph', 'Gutierrez', 'M', 'free'),
 (60, 'Devin', 'Larson', 'M', 'free'),
 (17, 'Makinley', 'Jones', 'F', 'free'),
 (96, 'Cierra', 'Finley', 'F', 'free')]

In [6]:
%sql SELECT * FROM songs LIMIT 5;

 * postgresql://postgres:***@127.0.0.1/sparkifydb
5 rows affected.

[('SONHOTT12A8C13493C', 'Something Girls', 'AR7G5I41187FB4CE6C', 1982, 233.40363),
 ('SOIAZJW12AB01853F1', 'Pink World', 'AR8ZCNI1187B9A069B', 1984, 269.81832),
 ('SOFSOCN12A8C143F5D', 'Face the Ashes', 'ARXR32B1187FB57099', 2007, 209.60608),
 ('SOHKNRJ12A6701D1F8', 'Drop of Rain', 'AR10USD1187B99F3F1', 0, 189.57016),
 ('SOQHXMF12AB0182363', 'Young Boy Blues', 'ARGSJW91187B9B1D6B', 0, 218.77506)]

In [7]:
%sql SELECT * FROM artists LIMIT 5;

 * postgresql://postgres:***@127.0.0.1/sparkifydb
5 rows affected.

[('AR7G5I41187FB4CE6C', 'Adam Ant', 'London, England', nan, nan),
 ('AR8ZCNI1187B9A069B', 'Planet P Project', '', nan, nan),
 ('ARXR32B1187FB57099', 'Gob', '', nan, nan),
 ('AR10USD1187B99F3F1', 'Tweeterfriendly Music', 'Burlington, Ontario, Canada', nan, nan),
 ('ARGSJW91187B9B1D6B', 'JennyAnyKind', 'North Carolina', 35.21962, -80.01955)]

In [8]:
%sql SELECT * FROM time LIMIT 5;

 * postgresql://postgres:***@127.0.0.1/sparkifydb
5 rows affected.

[(datetime.datetime(2018, 11, 11, 2, 33, 56, 796000), 2, 11, 45, 11, 2018, 6),
 (datetime.datetime(2018, 11, 11, 2, 36, 10, 796000), 2, 11, 45, 11, 2018, 6),
 (datetime.datetime(2018, 11, 11, 2, 40, 34, 796000), 2, 11, 45, 11, 2018, 6),
 (datetime.datetime(2018, 11, 11, 4, 36, 13, 796000), 4, 11, 45, 11, 2018, 6),
 (datetime.datetime(2018, 11, 11, 4, 36, 46, 796000), 4, 11, 45, 11, 2018, 6)]

## REMEMBER: Restart this notebook to close connection to `sparkifydb`
Each time you run the cells above, remember to restart this notebook to close the connection to your database. Otherwise, you won't be able to run your code in `create_tables.py`, `etl.py`, or `etl.ipynb` files since you can't make multiple connections to the same database (in this case, sparkifydb).

In [1]:
%run -i 'create_tables.py'

In [2]:
%run -i 'etl.py'

74 files found in data/song_data
1/74 files processed.
2/74 files processed.
3/74 files processed.
4/74 files processed.
5/74 files processed.
6/74 files processed.
7/74 files processed.
8/74 files processed.
9/74 files processed.
10/74 files processed.
11/74 files processed.
12/74 files processed.
13/74 files processed.
14/74 files processed.
15/74 files processed.
16/74 files processed.
17/74 files processed.
18/74 files processed.
19/74 files processed.
20/74 files processed.
21/74 files processed.
22/74 files processed.
23/74 files processed.
24/74 files processed.
25/74 files processed.
26/74 files processed.
27/74 files processed.
28/74 files processed.
29/74 files processed.
30/74 files processed.
31/74 files processed.
32/74 files processed.
33/74 files processed.
34/74 files processed.
35/74 files processed.
36/74 files processed.
37/74 files processed.
38/74 files processed.
39/74 files processed.
40/74 files processed.
41/74 files processed.
42/74 files processed.
43/74 files processed.
44/74 files processed.
45/74 files processed.
46/74 files processed.
47/74 files processed.
48/74 files processed.
49/74 files processed.
50/74 files processed.
51/74 files processed.
52/74 files processed.
53/74 files processed.
54/74 files processed.
55/74 files processed.
56/74 files processed.
57/74 files processed.
58/74 files processed.
59/74 files processed.
60/74 files processed.
61/74 files processed.
62/74 files processed.
63/74 files processed.
64/74 files processed.
65/74 files processed.
66/74 files processed.
67/74 files processed.
68/74 files processed.
69/74 files processed.
70/74 files processed.
71/74 files processed.
72/74 files processed.
73/74 files processed.
74/74 files processed.
30 files found in data/log_data
1/30 files processed.
2/30 files processed.
3/30 files processed.
4/30 files processed.
5/30 files processed.
6/30 files processed.
7/30 files processed.
8/30 files processed.
9/30 files processed.
10/30 files processed.
11/30 files processed.
12/30 files processed.
13/30 files processed.
14/30 files processed.
15/30 files processed.
16/30 files processed.
17/30 files processed.
18/30 files processed.
19/30 files processed.
20/30 files processed.
21/30 files processed.
22/30 files processed.
23/30 files processed.
24/30 files processed.
25/30 files processed.
26/30 files processed.
27/30 files processed.
28/30 files processed.
29/30 files processed.
30/30 files processed.